#app {
	
	.sidebar-container {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 999;
		overflow: hidden;
		width: @sideBarWidth !important;
	}

	.svg-icon {
		margin-right: 16px;
	}

	.el-menu {
		border: none;
		height: 100%;
		width: 100% !important;
	}
}